@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow: hidden;
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  width: 120vw;
  height: 120vh;
  position: absolute;
  left: -10vw;
  top: -10vh;
  transition-timing-function: ease-in-out;
  letter-spacing: -0.1em; }
  body * {
    z-index: 2; }
  body nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10vh 10vw 0 15vw;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 3; }
    body nav img {
      width: 100px;
      padding: 10px 0 10px 50px; }
  body .app {
    height: 100%;
    padding: 120px 10vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(135deg, #ffc04f 0%, #f8189c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -moz-linear-gradient(135deg, #ffc04f 0%, #f8189c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg, #ffc04f 0%, #f8189c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffc04f 0%, #f8189c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  body .tiltElement {
    transform-style: preserve-3d; }
    body .tiltElement .tiltInner {
      transform: translateZ(60px); }

hr {
  width: 80%;
  margin: 0px auto;
  border: 1px solid; }

button {
  cursor: pointer;
  background: #1db954;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  border: 2px solid #1db954; }

.login {
  display: flex;
  flex-direction: column;
  color: #1e3264;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .login::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(45deg, #00ce83 0%, #013165 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    animation: dynamicGradient 20s infinite alternate;
    z-index: 0; }
  .login .movingBackground {
    background-image: url("../img/background.png");
    animation: movingBackground 20s alternate infinite;
    animation-timing-function: cubic-bezier(0, 0.03, 0, 0.99);
    height: 120vh;
    width: 120vw;
    position: fixed;
    background-color: transparent;
    z-index: 1; }
  .login div {
    padding: 5vh 10%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 120%; }
    .login div h2 {
      font-size: 2em;
      color: #1db954;
      text-transform: uppercase;
      width: 80%;
      margin: auto;
      position: relative; }
      .login div h2::before {
        content: '';
        background-image: url(../img/splash.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 50%;
        height: 100px;
        position: absolute;
        left: 25%;
        top: -25px;
        z-index: -1; }
    .login div p {
      font-size: 3em;
      padding: 10px 0;
      width: 80%;
      margin: auto; }
    .login div button {
      padding: 15px 30px;
      font-size: 1.1em;
      margin-top: 4vh;
      transition: 1s; }
      .login div button:hover {
        background: rgba(29, 185, 84, 0); }

.progress {
  width: 90vw;
  height: 10px;
  left: 15vw;
  border-bottom: 2px solid #1db954;
  position: fixed;
  z-index: 68; }
  .progress div {
    height: 100%;
    transition: 0.5s;
    background-color: #1db954;
    position: relative; }
    .progress div::after {
      content: '';
      position: absolute;
      right: -9px;
      width: 10px;
      height: 100%;
      -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 100%, 0 100%);
      background-color: #1db954; }

.home {
  display: flex;
  flex-direction: column;
  color: #1e3264;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .home .onepage {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; }
    .home .onepage .backgroundText {
      position: absolute;
      left: 4vw;
      bottom: 10vh;
      font-size: 6em;
      z-index: -1;
      opacity: 0.3; }
  .home header {
    position: relative; }
    .home header::before {
      content: '';
      background-image: url(../img/splash2.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 100%;
      height: 194px;
      position: absolute;
      left: 10px;
      top: -25px;
      z-index: -1; }
    .home header h1 {
      font-size: 4em; }
    .home header .avatar div {
      position: relative; }
      .home header .avatar div img {
        width: 300px;
        height: 300px;
        margin-top: 30px;
        border-radius: 400px; }
      .home header .avatar div::before {
        content: '';
        background-image: url(../img/splash4.png);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 89%;
        width: 100%;
        height: 117%;
        position: absolute;
        left: 0px;
        top: 0;
        z-index: -1; }
  .home .controls {
    width: 80%; }
    .home .controls button {
      width: 30%;
      padding: 10px 0; }
      .home .controls button:first-child {
        border-radius: 50px 0 0 50px; }
      .home .controls button:last-child {
        border-radius: 0 50px 50px 0; }
  .home .tops {
    position: absolute;
    width: 75%;
    top: 16vh;
    display: flex;
    justify-content: space-around;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s; }
    .home .tops .top-song h1::before {
      transform: rotate(180deg); }
    .home .tops .top {
      margin-top: 40px;
      position: relative; }
      .home .tops .top h1 {
        font-size: 3em;
        position: relative;
        margin-bottom: 50px; }
        .home .tops .top h1 span {
          display: block; }
        .home .tops .top h1::before {
          content: '';
          background-image: url(../img/splash3.png);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 87%;
          width: 120%;
          height: 132px;
          position: absolute;
          left: -53px;
          top: -25px;
          z-index: -1; }
      .home .tops .top h2 {
        text-align: left;
        font-size: 2em; }
      .home .tops .top .artistcover span {
        font-size: 1.5em;
        display: block;
        position: absolute;
        bottom: 10px;
        left: 30px;
        right: -30px;
        background-color: white; }
      .home .tops .top .songcover span {
        font-size: 1.5em;
        display: block;
        position: absolute;
        bottom: 10px;
        right: 30px;
        left: -30px;
        background-color: white; }
      .home .tops .top .coverImage {
        width: auto;
        height: 400px;
        display: flex;
        align-items: center; }
        .home .tops .top .coverImage img {
          width: 400px;
          border: 2px solid;
          margin: auto; }
  .home .tops-list .top {
    width: 40%; }
    .home .tops-list .top ol {
      font-size: 1.4em; }
      .home .tops-list .top ol li {
        list-style-position: outside;
        list-style-type: none;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 2px 4px;
        position: relative; }
        .home .tops-list .top ol li:nth-child(even) {
          background-color: rgba(255, 255, 255, 0.1); }
        .home .tops-list .top ol li .popularity {
          display: block;
          bottom: 0;
          left: 0;
          height: 2px;
          background-color: #1e3264;
          position: absolute; }
  .home .tops-list .top-artist ol li {
    text-align: right; }
    .home .tops-list .top-artist ol li span {
      float: left; }
  .home .tops-list .top-song h2 {
    text-align: right; }
  .home .tops-list .top-song ol li {
    text-align: left; }
    .home .tops-list .top-song ol li span {
      float: right; }
  .home .topTen {
    background-image: url(../img/splash5.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
    margin-left: -10%; }
    .home .topTen .backgroundText {
      left: 14vw; }
      .home .topTen .backgroundText span {
        font-size: 0.3em; }
  .home .topgenre {
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .home .topgenre h1 {
      font-size: 3em;
      width: 30%;
      text-align: right; }
      .home .topgenre h1 span {
        color: #1db954; }
    .home .topgenre .chart {
      text-align: left;
      width: 40%;
      height: 300px;
      padding: 30px; }
      .home .topgenre .chart .progressbar {
        height: 30px;
        width: 100%;
        border: 2px solid; }
        .home .topgenre .chart .progressbar div {
          padding-left: 10px;
          height: 100%;
          line-height: 27px;
          background-color: #1db954;
          position: relative; }
          .home .topgenre .chart .progressbar div::after {
            content: '';
            position: absolute;
            right: -26px;
            width: 27px;
            height: 100%;
            -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 100%, 0 100%);
            background-color: #1db954; }
  .home .songStats {
    font-size: 1.1em; }
    .home .songStats .songStatsChart {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-around; }
      .home .songStats .songStatsChart section {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 28%; }
        .home .songStats .songStatsChart section h1 {
          width: 100%;
          text-align: center;
          position: absolute;
          top: 0;
          font-size: 1.5em; }
        .home .songStats .songStatsChart section .donutChart {
          position: relative;
          height: 100%; }
          .home .songStats .songStatsChart section .donutChart h1 {
            position: absolute;
            top: 40%;
            height: 20%;
            font-size: 3em;
            display: flex;
            align-items: center;
            justify-content: center; }
            .home .songStats .songStatsChart section .donutChart h1 span {
              position: absolute;
              bottom: -10px;
              left: 0;
              width: 100%;
              height: 5px;
              background-color: #1db954;
              animation: tempo infinite;
              animation-timing-function: cubic-bezier(0.42, 0, 0.54, 1.35); }
  .home .ng-hide {
    display: flex !important;
    opacity: 0;
    transform: translateX(-150vw); }

@keyframes dynamicGradient {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes movingBackground {
  from {
    background-position: 0% 0%; }
  to {
    background-position: 100% 100%; } }

@keyframes tempo {
  from {
    width: 0; }
  to {
    width: 100%; } }

@media (max-width: 1025px) {
  body .home .tops {
    /*flex-direction: column;*/
    top: 10vh; }
    body .home .tops .top {
      flex-direction: column; }
      body .home .tops .top h1 {
        font-size: 1.5em;
        margin-bottom: 0px; }
        body .home .tops .top h1::before {
          content: none; }
      body .home .tops .top h2 {
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center; }
      body .home .tops .top .coverImage {
        height: auto; }
        body .home .tops .top .coverImage img {
          max-width: 400px;
          width: 100%; }
  body .home .tops-list .top ol li {
    font-size: 0.75em; }
  body .home .onepage .backgroundText {
    font-size: 3em; }
  body .home .topgenre {
    flex-direction: column; }
    body .home .topgenre h1 {
      width: 70%;
      text-align: center; }
    body .home .topgenre .chart {
      width: 80%; } }

